    /*
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;


        font-family: 'Source Sans Pro', sans-serif;
    */
    section{
        margin: 80px;
    }
h1,h2{
    color: #b70000;
}
img{
        object-fit:cover;
        width: 700px;
}
nav ul li a{
    color: black !important;
}
nav ul li :hover{
    color: #b70000 !important;
    font-size: 19px;
    transition: 0.5s;
    border: 20px;
}
nav ul li a :not(:first-child):hover{
    color: black !important;
    font-size: 16px;
    transition: 0.5s;
}
.header-img{
        width: 300px;
    }
.div-img{
    background-color: #b70000;
}
.main-section-img {
    width: 650px;
    filter: brightness(0.9);
    margin-right: 60px;
}
.section-4div-img{
    background-color: #b93e3e;
    width: 100px;
    padding: 10px;
    border-radius: 25px;
    display: block;
    margin: 0 auto; 
}
.container{
    padding: 60px;
}
.container div div div p{
    text-align: center;
}
