nav ul li a {
    color: black !important;
  }
  
  nav ul li :hover {
    color: #b70000 !important;
    font-size: 19px;
    transition: 0.5s;
    border: 20px;
  }
  
  .header-img {
    width: 300px;
  }