.FirstAct {
    grid-area: FirstAct;
  }
  
  .SecondAct {
    grid-area: SecondAct;
  }
  
  .ThirdAct {
    grid-area: ThirdAct;
  }
  
  .FourthAct {
    grid-area: FourthAct;
  }
  
  .GridActividades {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "FirstAct" "SecondAct" "ThirdAct" "FourthAct" "FifthAct";
  }
  
  .CampoDeportivo {
    grid-area: CampoDeportivo;
  }
  
  .CampoDeportivoimg {
    grid-area: CampoDeportivoimg;
  }
  
  .Natacion {
    grid-area: Natacion;
  }
  
  .Natacionimg {
    grid-area: Natacionimg;
  }
  
  .Intertribus {
    grid-area: Intertribus;
  }
  
  .Intertribusimg {
    grid-area: Intertribusimg;
  }
  
  .Pto1Act {
    grid-area: Pto1Act;
  }
  
  .Pto2Act {
    grid-area: Pto2Act;
  }
  
  .Pto3Act {
    grid-area: Pto3Act;
  }
  
  .FirstAct {
    display: grid;
    grid-template-columns: 1fr 0.05fr 1fr;
    grid-template-areas: " CampoDeportivo .. CampoDeportivoimg";
  }
  
  .SecondAct {
    display: grid;
    grid-template-columns: 1fr 0.05fr 1fr;
    grid-template-areas: "Natacionimg .. Natacion";
  }
  
  .ThirdAct {
    display: grid;
    grid-template-columns: 1fr 0.05fr 1fr;
    grid-template-areas: "Intertribus .. Intertribusimg";
  }
  
  .FourthAct div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "Pto1Act Pto2Act Pto3Act";
  }
  
  .FourthAct div li .Pto3Act {
    text-align: center;
  }
  
  @media screen and (max-width: 768px) {
    .ResponsiveAct img {
      width: 65%;
    }
    .GridActividadesAct {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: "FirstAct" "SecondAct" "ThirdAct" "FourthAct" "FifthAct";
    }
    .FirstAct {
      grid-template-columns: 1fr;
      grid-template-columns: auto;
      grid-template-areas: "CampoDeportivo" "CampoDeportivoimg";
    
    }
    .SecondAct {
      grid-template-columns: 1fr;
      grid-template-areas: "Natacion" "Natacionimg";
    }
    .ThirdAct {
      grid-template-columns: 1fr;
      grid-template-areas: "Intertribus" "Intertribusimg";
    }
    .FourthAct ul {
      grid-template-columns: 1fr;
      grid-template-areas: "Pto1Act" "Pto2Act" "Pto3Act";
    }
    * {
      text-align: center;
      font-size: 10px;
    }
  }