#iconos {
    margin-left: 50px;
  }
.fa-instagram{
    margin-right: 180px;
    margin-left: 10px;
    padding: 3px 8px;
    border-radius: 20px;
    background: linear-gradient(to bottom left, #8134af, #dd2a7b, #f58529);
}