  body {
     padding: 50px 50px 15px 50px;
    
   }
  
   * {
     font-family: "Source Sans Pro", sans-serif;
   }
  
   h1, h2 {
     color: $text-color;
     font-family: "Source Sans 3", sans-serif;
     font-optical-sizing: auto;
     font-weight: 600;
     font-style: normal;
   }
  
   img {
     object-fit: cover;
     width: 700px;
     border-radius: 12px;
   }

  .gridind{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "firstind"
                         "secondind"
                         "thirdind"
                         "fourthind"
                         "fifthind";
   padding: 0;
  }

  .secondind{
             div{           
                  img{
                      background-color: $info-color;
                      padding: 5px;
                      height: 60px;
                      width: 60px;
       }
     }  
  }
   hr {
     color: $text-color;
   }
      .firstind {
       grid-area: firstind;
       display: grid;
       grid-template-columns: 1fr 0.05fr 1fr;
       grid-template-areas: "firsttext .. firstimg";
       padding-top: 50px;
     }
      .firstindimg{
        grid-area: firstimg;
        display: grid;
      }
      .firstindtext{
        grid-area: firsttext;
        display: grid; 
      }
      .secondind{ 
       grid-area: secondind;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
       grid-template-rows: auto;
       grid-template-areas: ".. instalacionesimg .. jornadaimg .. formacionimg .."
                            "instalacionestext instalacionestext jornadatext jornadatext formaciontext formaciontext formaciontext";
      img{
        background-color: $info-color;
        height: 55px;
        width: 55px;
        padding: 5px;
      }
      }
     
      .instalacionesimg{
       grid-area: instalacionesimg;
      }
      .jornadaimg{
       grid-area: jornadaimg;
      }
      .formacionimg{
       grid-area: formacionimg; 
      }
      .instalacionestext{
       grid-area: instalacionestext;
      }
      .jornadatext{
       grid-area: jornadatext;
      }
      .formaciontext{
       grid-area: formaciontext;
      }

     
      .thirdindimg{
       display: grid;
        grid-area: thirdimg;
      }
      .thirdindtxt{
       display: grid;
        grid-area: thirdtxt;
      }
      .thirdind{
       display: grid;
        grid-area: thirdind;
        grid-template-columns: 1fr 0.05fr 1fr;
        grid-template-areas: "thirdtxt .. thirdimg";
      }  
      .fourthind{
        padding-top: 40px;
       img{
         height: 60px;
         width: 60px;
         margin: auto;
       }
         display: grid;
         text-align: center;
         grid-area: fourthind;
      }
      .fifthind{
         text-align: center;
         padding: 40px 0px;
      }

      @media screen and (max-width: 720px) {
        img{
          margin: auto;
        }
       body {
         padding: 20px;  
       }
       .firstind {
         grid-area: firstind;
         display: grid;
         grid-template-columns: 1fr;
         grid-template-areas: "firsttext" "firstimg";
         padding-top: 15px;
       }
        .firstindimg{
          grid-area: firstimg;
          display: grid;
          padding-bottom: 10px;
         img{
           width: 280px;
           height:auto;
         }
        }
        .firstindtext{
          grid-area: firsttext;
          display: grid; 
        }

        .secondind{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-areas: ".. instalacionesimg .."
                               "instalacionestext instalacionestext instalacionestext"
                               ".. jornadaimg .."
                               "jornadatext jornadatext jornadatext"
                               ".. formacionimg .."
                               "formaciontext formaciontext formaciontext";
          text-align: center;
        }
        .secondind{

          .secondindimg, .secondindtext{
            display: grid;
          }
        }

        .thirdindimg{
         display: grid;
          grid-area: thirdimg;
          width: 280px;
          margin: auto;
          img{
           width: 280px;
           height:auto;
         }
        }
        .thirdindtxt{
         display: grid;
          grid-area: thirdtxt;
        }
        .thirdind{
         display: grid;
          grid-area: thirdind;
          grid-template-columns: 1fr;
          grid-template-areas: "thirdtxt" "thirdimg";
        }  
        .fourthind{
         img{
           height: 45px;
           width: 45px;
         }
      }
     }





    @media screen and (max-width: 320px) {
      .firstindimg, .thirdindimg{
        width: 290px;
        height: auto;
      }
      body {
         padding: 10px;
      .thirdind img, .firstind img{
        width: 220px;
      }
    }
 }